<!DOCTYPE html>
<html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Добро пожаловать в Chiricker</h1>
        <p>Поздравляем, <strong><%= "#{@user.name.capitalize}  #{@user.surname.capitalize}" %></strong></p>
        <p>Ваш ник <strong><%="@#{@user.nic}" %></strong>. При необходимости изменить ник, войдите в настройки вашего аккаунта</p>
        <p>Приятного использования <strong>Chiricker</strong>!</p>
    </body>
    <footer>Chiricker 2014, Minsk, Belarus</footer>
</html>