/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#write_twit_count {
    margin-left: 45px;
}

#tweet_header {
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    background: none;
    color: black;
    text-decoration: none;
}

i{
    color:#515151;
    margin-left: 20px;
    padding-right: 5px;
}

#choose_file{
    margin-bottom: 20px;
}

#modal{
    padding: 1em 1em 1em 1em;

}

#retweet_header{
    padding-left: 30px;
    padding-bottom: 10px;
    color: #bababa;
}

#retweet_link{
    color: #bababa;
}

#tweet_footer{
    width: 300px;
    margin-left: 200px;
}